div {
	border: 0.1px solid;
}

.table_4 {
	display: grid;
	width: 700px;
	grid-auto-rows: 30px;
}

.row {
	display: grid;
}

.n1 {
	grid-template-columns: 3fr 3fr 1fr;
}

.n2 {
	grid-template-columns: 1fr 3fr 3fr;
}

.n3 {
	grid-template-columns: 2fr 3fr 2fr;
}

.n4 {
	grid-template-columns: 3fr 3fr 1fr;
}

.n5 {
	grid-template-columns: 1fr 3fr 3fr;
}

.n6 {
	grid-template-columns: 2fr 3fr 2fr;
}

.n7 {
	grid-template-columns: 3fr 3fr 1fr;
}