
#menu li {
	margin: 5px;
	display: inline;
	float: right;
}

ul {
	height: 20px;
}

.post {
	border-top: 1px #d3d3d3 solid;
	border-bottom: 1px #d3d3d3 solid;
	padding: 20px;
	display: flex;
}

.details, .body {
		padding: 20px;

}

.body {
	border-left: 1px #d3d3d3 solid;
}

@media(min-width: 250px) {
	.col {
		padding: 15px;
		width: 30%;
		display: inline-block;
	}
}

#menu a:hover, .details a:hover, .det a:hover, #footer a:hover {
	color: maroon;

}

#footer {
	border-top: 1px #d3d3d3 solid;
}

p, #menu a, title {
	color: gray;
	line-height: 150%;
}

a {
	text-decoration: none;
}

.details h2 a, .det a, #footer a {
	color: #D80000;
}

.col h3 a {
	font-size: 150%;
	color: black;
	font-family: Times;
}


.details p a {
	color: gray;
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

.details p {
	font-size: 75%;
}